.contact-page {
  display: flex;
  width: 100%;
  justify-items: center;
  min-height: calc(100dvh - 65px);
}

.contact-page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240, 0.05);
}

.contact-page-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}